

$burger-z-index: 47;

// ui colors
$main-red: #D03838;
$error-red: #F93232;
$hotpink: #D34B72;
$pink: #FFF1F1;
$light-pink: #FAECEC;
$light-red: #ffd9d9;
$white: #FEFEFE;
$gray: #ECECEC;
$light-gray: #F6F6F6;
$gray-secondary: #F7F7F7;
$light-blue: #5AC8FA;
$violet: #9747FF;
$green: #439F6E;
$orange: #FFA123;

// text colors
$text-main: #2B2827;
$text-gray: #D4D4D4;
$text-white: $white;
$text-blue: #5698FB;
$text-secondary: #393837;
$text-light: #8B8B8B;
$text-red: #D03838;

//$grid-breakpoints: (
//  xs: 375px,
//  sm: 576px,
//  md: 768px,
//  lg: 992px,
//  xl: 1200px,
//  xxl: 1400px,
//  xxxl: 1920px
//) !default;
//
//$container-max-widths: (
//  sm: 100%,
//  md: 100%,
//  lg: 100%,
//  xl: 100%,
//  xxl: calc(1755px + 128px)
//) !default;

