// @include scrollbar(10px, pink, red);

@mixin scrollbar($size, $foreground-color, $background-color: mix($foreground-color, white,  20%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: 25px;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
    border-radius: 25px;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
