<div class="page items-center">
  <div class="container">
    <div class="py-5">
      <div class="mb-24 text-center">
        <div class="mb-6">
          <app-image src="/assets/images/not-found-banner.svg"></app-image>
        </div>
        <p class="font-bold text-sm text-center mb-4">
          К сожалению, произошла ошибка :( <br>
          Вернитесь назад пожалуйста
        </p>
      </div>
      <app-link to="/" [mode]="['button', 'fw', 'md']">Назад</app-link>
    </div>
  </div>
</div>
