<div class="container">
  <app-header>
<!--    <app-profile-link></app-profile-link>-->
  </app-header>

  <b><p>1. Общие положения. Термины и определения. Предмет соглашения</p></b>
  <p>1.1. В настоящем Пользовательском соглашении используются следующие термины и определения:</p>
  <p>1.1.1. Информационный электронный ресурс — комплекс программно-технических средств и программных кодов, посредством
    которых Администрация предоставляет Пользователям информацию, обеспечивает доступ к соответствующим ресурсам и
    сервисам системы. В целях настоящего Пользовательского соглашения таким ресурсом является
    https://bookcrossing.io.</p>
  <p>1.1.2. Администрация ресурса — собственник Информационного электронного ресурса, обеспечивающий функционирование
    Информационного электронного ресурса и доступ к нему.</p>
  <p>1.1.3. Пользователь — физическое лицо, присоединившееся к настоящему Пользовательскому соглашению и получившее
    доступ к информационным ресурсам и сервисам Информационного электронного ресурса, в том числе прошедшее процедуры
    согласия, регистрации и (или) идентификации на Информационном электронном ресурсе, а равно использующее его
    каким-либо образом без прохождения таких процедур, считается присоединившимся к настоящему Пользовательскому
    соглашению.</p>
  <p>1.1.4. Информация — любая текстовая, графическая, звуковая, программно-техническая информация и файлы, размещаемые
    Пользователями на Информационном электронном ресурсе.</p>
  <p>1.1.5. Идентификация — совокупность мероприятий по установлению и подтверждению достоверности сведений о
    пользователях Информационного электронного ресурса, условия и порядок которой предусмотрены настоящим
    Пользовательским соглашением.</p>
  <p>1.1.6. Формы Пользовательского соглашения — это формы, в которые Пользователь вносит информацию о своих
    персональных данных при прохождении процедур регистрации и (или) идентификации, являющиеся неотъемлемой частью
    настоящего Пользовательского соглашения.</p>
  <p>1.2. Настоящее Пользовательское соглашение регулирует отношения между Администрацией ресурса и Пользователями,
    осуществляющими любые действия на Информационном электронном ресурсе.</p>
  <p>1.3. Информационный электронный ресурс не является средством массовой информации в соответствии с законодательством
    Республики Беларусь.</p>
  <p>1.4. Стороны соглашаются с тем, что Информация, размещаемая на Информационном электронном ресурсе предоставляется
    без каких-либо гарантий и обязательств со стороны Администрации, в том числе в случае недостоверности (ненадлежащего
    вида) такой информации. Администрация не отвечает за возможные перебои в функционировании Информационного
    электронного ресурса, отсутствие доступа к нему и иные возможные технические неполадки в работе ресурса.</p>
  <p>1.5. Сторонами настоящего Пользовательского соглашения выступают Администрация ресурса (п.п. 1.1.2.) и Пользователь
    (п.п. 1.1.3.).</p>
  <p>1.6. Настоящее соглашение размещено по постоянному адресу в сети интернет:
    https://bookcrossing.io/privacy-policy/</p>

  <b><p>2. Права и обязанности сторон</p></b>

  <p>2.1. Права и обязанности Администрации ресурса:</p>
  <p>2.1.1. Администрация ресурса имеет право передать персональные данные Пользователей и любую иную информацию,
    указанную Пользователями при регистрации, идентификации, использовании Информационного электронного ресурса, в
    порядке и в случаях, предусмотренных законодательством Республики Беларусь.</p>
  <p>2.1.2. Администрация ресурса имеет право аннулировать учетные записи Пользователей и анонимизировать Информацию,
    оставленную такими Пользователями, в случае нарушения требований настоящего Пользовательского соглашения и (или)
    законодательства Республики Беларусь.</p>
  <p>2.1.3. Администрация ресурса имеет право в любое время внести изменения в настоящее Пользовательское соглашение в
    любой его части, без предварительного и последующего уведомления об этом Пользователей.</p>
  <p>2.2. Права и обязанности Пользователя:</p>
  <p>2.2.1. Пользователь обязуется использовать Информационный электронный ресурс в соответствии с условиями настоящего
    Пользовательского соглашения.</p>
  <p>2.2.2. Пользователь имеет право использовать лишь ту часть Информации, размещенной на Информационном электронном
    ресурсе, доступ к которой открыт и разрешен Администрацией ресурса.</p>
  <p>2.2.3. Пользователь обязуется не использовать Информационный электронный ресурс для рассылки массовых сообщений
    рекламного и иного характера (спам), а также не использовать Информационный электронный ресурс для рекламы
    собственных товаров (работ, услуг).</p>
  <p>2.2.4. Пользователь обязуется не подрывать деятельность Информационного электронного ресурса, а равно не
    использовать программно-технические методы и средства воздействия на Информационный электронный ресурс, с целью
    дестабилизировать его работу.</p>
  <p>2.2.5. Пользователи не имеют право использовать информацию, представленную на Информационном электронном ресурсе в
    коммерческих и иных целях без получения на то согласия Администрации ресурса.</p>
  <p>2.2.6. Перепечатка, воспроизведение в любой форме, распространение, в том числе в переводе, любых материалов сайта
    (включая отзывы) возможны с соблюдением правил цитирования, а при размещении их в интернете необходима ссылка на
    страницу-источник Информационного электронного ресурса https://bookcrossing.io/.</p>

  <b><p>3. Процедура идентификации</p></b>

  <p>Требования к персональным данным Пользователей</p>
  <p>3.1. Для отправки данных через форму необходимо пройти процедуру идентификации. Процедура идентификации
    предоставляет возможность Пользователям Информационного электронного ресурса разместить отзывы и отправить запрос на
    получения подробной информации.</p>
  <p>3.2. Процедура идентификации осуществляется путем ввода почты
    Пользователя Информационного электронного ресурса. После ввода всех обязательных персональных данных (адреса
    электронной почты и пароля) Пользователь соглашается с настоящим Пользовательским соглашением
    (путем проставления отметки в соответствующем поле) и получает подтверждение этого.</p>
  <p>3.3. Пользователь, прошедший процедуру идентификации на Информационном электронном ресурсе, действиями,
    обозначенными в п. 3.2., выражает свое согласие на использование Администрацией ресурса своих персональных данных,
    размещенных на Информационном электронном ресурсе, в частности сбор, обработку, хранение, передачу государственным
    органам в установленных законодательством случаях, а также передачу третьим лицам для цели выполнения настоящего
    соглашения. Прохождение процедуры Идентификации Пользователем на Информационном электронном ресурсе равнозначна
    письменному согласию Пользователя на использование его персональных данных.</p>
  <p>3.4. Передача персональных данных Пользователя государственным органам производится при наличии соответствующего
    требованиям законодательства Республики Беларусь официально оформленного запроса от таких органов.</p>


  <b><p>4. Правила размещения Пользователями Информации на Информационном электронном ресурсе</p></b>

  <p>4.1. При размещении любой Информации на Информационном электронном ресурсе Пользователь обязан руководствоваться
    следующими правилами:</p>
  <p>4.1.1. Информация, размещаемая Пользователем, не должна нарушать авторские права, права на товарные знаки,
    средства индивидуализации и/или права на иные объекты интеллектуальной собственности, принадлежащие третьим
    лицам.</p>
  <p>4.1.2. На Информационном электронном ресурсе запрещается совершение следующих действий:</p>
  <p>— действий, направленных на введение других Пользователей в заблуждение;</p>
  <p>— искажать информацию, позволяющую установить, кем направлено сообщение;</p>
  <p>— размещать в рамках Информационного электронного ресурса не относящиеся к Пользователю фотографии и изображения
    известных людей, несовершеннолетних лиц без их родителей, а также размещать фотографии, основным объектом которых
    является человек, если этот человек не давал согласия на размещения его фотографии на Информационном электронном
    ресурсе;</p>
  <p>— размещение Информации, содержащей высказывания расистского характера, разжигание межнациональной розни, призывы к
    нарушению действующего законодательства, высказывания дискриминационного, ксенофобского, националистического
    характера, оскорбления, нецензурные или грубые выражения, а также любые другие высказывания, нарушающие действующее
    законодательство Республики Беларусь;</p>
  <p>— размещение Информации, не относящейся к обсуждаемой теме, являющейся бессмысленной и (или) малоcодержательной и
    (или) провокационной;</p>
  <p>— размещение Информации с целью нанести вред чести, достоинству, деловой репутации физического лица или деловой
    репутации юридического лица, заведомо ложную информацию, клевету;</p>
  <p>— размещение Информации, содержащей грубость в отношении высказываний собеседников, провокации к нарушению данного
    Соглашения, нецензурные выражения и оскорбления в любой форме;</p>
  <p>4.2. При написании отзывов и комментариев Пользователь обязан следовать следующим правилам:</p>
  <p>— соблюдать требования законодательства Республики Беларусь;</p>
  <p>— соблюдать авторские права на произведения науки, литературы, искусства. При цитировании обязательно указывать
    источник и автора;</p>
  <p>— соблюдать право на личную жизнь. Запрещается размещение сообщений, содержащих информацию, касающуюся личной жизни
    других пользователей без их разрешения, в том числе разглашение содержания корреспонденции, телефонных и иных
    сообщений личной переписки, реальных имен и иных персональных данных (адресов, телефонов, мест работы и т. п.)
    других Пользователей.</p>
  <p>4.3. Администрация предупреждает о недопустимости размещения Пользователем на Информационном электронном ресурсе
    сообщений и (или) материалов, содержащих информацию, распространение которой запрещено законодательством Республики
    Беларусь.</p>


  <b><p>5. Ответственность сторон. Ограничение ответственности</p></b>
  <p>5.1. Все сообщения отражают мнения их авторов, Пользователи в полном объеме несут ответственность за
    распространяемую ими Информацию.</p>
  <p>5.2. Администрация ресурса не несет ответственности за достоверность, правдивость и законность Информации,
    размещаемой Пользователями на Информационном электронном ресурсе.</p>
  <p>5.3. Администрация ресурса не гарантирует, что Информационный электронный ресурс будет совместим и/или
    функционировать с любым программным обеспечением Пользователя. В сообщениях Пользователей на Информационном
    электронном ресурсе могут стоять ссылки на другие сайты или ресурсы. Поскольку Администрация ресурса не контролирует
    другие сайты или ресурсы, Администрация не несет ответственности за работоспособность таких сайтов или ресурсов, а
    равно за содержание, рекламу, материалы, товары и услуги, доступные на таких сайтах или ресурсах. Администрация
    ресурса не несет ответственности за любой вред, который может быть причинен Пользователям третьими лицами,
    разместившими такие ссылки.</p>


  <b><p>6. Заключительные положения</p></b>
  <p>6.1. Изменения и (или) дополнения в настоящее Пользовательское соглашение вносятся путем издания новой редакции
    Пользовательского соглашения и вступают в силу сразу после публикации.</p>
  <p>6.2. Пользовательское соглашение и (или) дополнения (изменения) в него обязательны для всех Пользователей,
    прошедших процедуру идентификации в Информационном электронном ресурсе до вступления в силу новой редакции
    Пользовательского соглашения.</p>
  <p>6.3. Если Пользовательского соглашение в какой-либо его части не соответствует требованиям законодательства
    Республики Беларусь и нормам международного права, то в данной части стороны руководствуются требованиями
    соответствующих норм законодательства. Несоответствие Пользовательского соглашения в какой-либо части требованиям
    законодательства Республики Беларусь и нормам международного права не является основанием для признания его
    недействительным в целом.</p>


</div>
