$icomoon-font-family: "font-icons" !default;
$icomoon-font-path: "fonts" !default;

$font-icons--arrow-up: "\e90d";
$font-icons--book-saved: "\e907";
$font-icons--message-question: "\e90a";
$font-icons--plus-rounded: "\e90b";
$font-icons--trash: "\e90c";
$font-icons--eye-slash: "\e906";
$font-icons--arr-left: "\e905";
$font-icons--arr-right: "\e912";
$font-icons--eye: "\e908";
$font-icons--facebook-white: "\e909";
$font-icons--navigator: "\e90e";
$font-icons--twitter-white: "\e90f";
$font-icons--user: "\e910";
$font-icons--vkontakte-white: "\e911";
$font-icons--plus: "\e900";
$font-icons--search: "\e901";
$font-icons--map: "\e902";
$font-icons--home: "\e903";
$font-icons--message: "\e904";
$font-icons--book: "\e91f";

